*{
    margin: 0;
    padidng: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: 'Mulish', sans-serif;
}
body{
    background: #121212;
    color: #fff;
}